<!-- partials/bottom-nav.liquid -->
<div class="bottom-nav">
  <ul>
    <li><a href="#"><img src="/assets/home_icon.svg" alt="Home"><span>Home</span></a></li>
    <li><a href="#"><img src="/assets/webinar_icon.svg" alt="Webinars"><span>Webinars</span></a></li>
    <li><a href="#"><img src="/assets/contouring_icon.svg" alt="Contourings"><span>Contourings</span></a></li>
    <li><a href="#"><img src="/assets/profile_icon.svg" alt="Profile"><span>Profile</span></a></li>
  </ul>
</div>
