<!-- partials/header.liquid -->
<header class="header-container">
  <nav class="top-nav">
    <!-- Company Logo -->
    <div class="company-logo">
      <a href="/">
        <img src="assets/antoni-van-leeuwenhoek-logo.svg" alt="Antioni van Leeuwenhoek Logo" />
      </a>
    </div>

    <!-- Navigation Links -->
    <ul class="main-nav-links">
      <li><a class="nav-link" href="#"><img class="nav-icon" src="/assets/home_icon.svg" alt="Home"><span class="nav-text">Home</span></a></li>
      <li><a class="nav-link" href="#"><img class="nav-icon" src="/assets/webinar_icon.svg" alt="Webinars"><span class="nav-text">Webinars</span></a></li>
      <li><a class="nav-link" href="#"><img class="nav-icon" src="/assets/contouring_icon.svg" alt="Contourings"><span class="nav-text">Contourings</span></a></li>
      <li><a class="nav-link" href="#"><img class="nav-icon" src="/assets/profile_icon.svg" alt="Profile"><span class="nav-text four">Profile</span></a></li>
    </ul>
  </nav>
</header>
